body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
}

.todo-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 600px;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #513a3a;
}

.todo-list {
  list-style: none;
  /* Убираем стандартные маркеры */
  padding: 0;
  margin: 5px 0;
}

.todo-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 12px 0;
  border: 3px solid #eee;
  transition: background-color 0.3s ease;
  margin-bottom: 5px;
  padding: 0 6px;
}

.item-status {
  display: flex;
}